body{
    background-color: #3915d8;
    font-family: 'Times New Roman', Times, serif, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: blue;
    color: white;
    padding: 10px;
    text-align: center;
}
section {
    margin: 20px;
    padding: 20px;
    background-color: lightslategrey;
    border-radius: 5px;
}
section:hover {
    background-color: #dcdcdc;
}
h1, h2, h3 {
    color: #e80b0b;
}
.wedding-photos, .nature-photos, .birthday-photos, .graduation- photos {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
h2 {
    margin-top: 0;
    text-align: center;
}
h3 {
    margin-top: 0;
    text-align: left;
}
ul {
    list-style-type: none;
    padding: 10px;
}
li a{
    margin-bottom: 5px;
    text-decoration: none;
    color: black;
    flex-wrap: wrap;
}
.contact-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    margin: 0 auto;
}
.contact-form input, .contact-form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.contact-form button {
    padding: 10px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;    
}
nav ul {
    display: flex;
    justify-content: right;
    gap: 20px;
}
nav ul li {     
    list-style-type: none;
}  